@model Mppd.MrDemo.Web.Models.HierarchyTree

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HierarchyTree</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resource.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceManager.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceParent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceParent.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
